<div class="container-fluid">
 <!-- <h1>History Page</h1>     --> 
  <p> </p>
  <p>You have made the following purchases recently...</p>       
</div>

<%# ***************Items Grid form *****************
    From 7 Creating Books(Products) YouTube video
    - Due to it being the products index,
    - This should be a loop to display all products
    - in rows of 3
    ************************************************ %>

<% for cart in @carts %>
<td><%=h cart.created_at %></td>

	<% for line_item in cart.line_items %>
	    <td><%=h line_item.product.title %></td>
        <td class="qty"><%= line_item.quantity %></td>
        <td class="price"><%= line_item.product.price %></td>
    <% end %> 
<% end %>
