<div class="container-fluid">
  <h3>Savings Page</h3>      
  <p>Here you can find savings on items.</p>  
  <br>
	 <div class="row">
	  <div class="col-sm-6 text-center"><h3>Savings Promo Code: 326ZJOfa</h3><%=image_tag("savings/Coupon1.jpg")%></div>
	  <div class="col-sm-6"><h3>Savings Promo Code: s63wa8XO</h3>
	   <div class="text-center1"><%=image_tag("savings/Coupon2.jpg")%></div>
	  </div>
	</div>
	<br>
	<br>
	<div class="row">
	  <div class="col-sm-6 text-center"><h3>Savings Promo Code: cEll9LYt</h3><%=image_tag("savings/Coupon3.jpg")%></div>
	  <div class="col-sm-6"><h3>Savings Promo Code: D2DO3A2c</h3>
	  	<div class="text-center2"><%=image_tag("savings/Coupon4.jpg")%></div>
	  </div>
	</div>   
</div>
