<div class="container-fluid">
  <h1>Savings Page</h1>      
  <p>Here you can find savings on items.</p>  
  <br>
	 <div class="row">
	  <div class="col-sm-6"><h1>Savings 1</h1></div>
	  <div class="col-sm-6"><h1>Savings 2</h1></div>
	</div>
	<br>
	<div class="row">
	  <div class="col-sm-6"><h1>Savings 3</h1></div>
	  <div class="col-sm-6"><h1>Savings 4</h1></div>
	</div>
	<br>
	<div class="row">
	  <div class="col-sm-6"><h1>Savings 5</h1></div>
	  <div class="col-sm-6"><h1>Savings 6</h1></div>
	</div>
	<br>
	<div class="row">
	  <div class="col-sm-6"><h1>Savings 7</h1></div>
	  <div class="col-sm-6"><h1>Savings 8</h1></div>
	</div>         
</div>

#ldhsfkljsdfk
