<<<<<<< HEAD
<h1>New Cart</h1>

<%= render 'form', cart: @cart %>

<%= link_to 'Back', carts_path %>
=======
<h1>New Cart</h1>

<%= render 'form', cart: @cart %>

<%= link_to 'Back', carts_path %>
>>>>>>> 4933270bbf7bc821417be985da244c8d8dadcc30
