<!-- This is the homepage and should be where we can find aisles too -->
<ul id="cd-gallery-items" class="cd-container">
   <% @categories.each_slice(3) do |category| %>
      <div class="row">
       <% category.each do |category| %>
         <li>
          <div class="card-container">
            <%= link_to image_tag(category.image_url, alt: category.name, height: 200, width: 300), category_path(category.id) %>
          <%= link_to category.name, category %>
          </div>
         </li>
        <% end %>
    </div>
    <br>
   <% end %>
</ul> 