<!-- This is the homepage and should be where we can find aisles too -->

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id="categories.index">
  <% @categories.each_slice(3) do |category| %>
  <div class="row">

    <div class="card-info-container">
      <%=image_tag('white.jpg', alt: 'white', height: 37, width: 42) %>
    </div>
    
    <% category.each do |category| %>
    <div class="card-container">
    <div class="shadowed-card">
      <%= link_to image_tag(category.image_url, alt: category.name, height: 200, width: 300), category_path(category.id) %>
      <div class="card-info-container"><h4><b><%= link_to category.name, category, class: "btn" %></b></h4></div>
      </div>
      </div>
    <% end %>
  
  </div>
  <% end %>
</div>