<<<<<<< HEAD
<h1>New Line Item</h1>

<%= render 'form', line_item: @line_item %>

<%= link_to 'Back', line_items_path %>
=======
<h1>New Line Item</h1>

<%= render 'form', line_item: @line_item %>

<%= link_to 'Back', line_items_path %>
>>>>>>> 4933270bbf7bc821417be985da244c8d8dadcc30
